extends ../layout

block content
    h1.
        Infophoto #{movie._id}
    p Name: #{movie.name}
    p Year: #{movie.year}
    p IMDB:
       a(href='http://www.imdb.com/title/#{movie.imdbid}') #{movie.imdbid}
    p Image: #{movie.image}
    p Schedule:
       ul
           - each date in dates
               li
                   = date



    p #{movie}
